body{
    background-color:rgba(34, 29, 40, 0.8);
    color:white;
}
.footer{
    background-color:black;
    border-top:2px solid white;
    margin-bottom:-16px;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align:center;
}
.box{
    height:100%;
    background-color:purple;
    margin-left:40%;
    margin-right:40%;
    margin-top:10%;
    padding-bottom:10px;
    text-align:center;
    -moz-border-radius: 49px 49px 49px 49px;
    -webkit-border-radius: 49px 49px 49px 49px;
    border-radius: 49px 49px 49px 49px;
    border: 11px solid #000000;
}
#button{
    background-color:white;
    border:4px solid black;
    border-radius:6px;
    font-weight:bold;
}